/* title */

.title {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    width: 25%;

}

/* box styling */

.lesson_box {
    position: fixed;
    align-self: center;
    width: 1100px;
    height: 65%;
    top: 55%;
    left:45%;
    margin-top: -290px;
    /* this is half the height of your div*/
    margin-left: -450px;
    /*this is half of width of your div*/
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.664);
    z-index: 1000;

}


.lessons{

	display: inline-block;
    width:300px;
    height: 200px;
	margin : 60px 10px 50px 50px;
	border: 5px solid black;
	border-radius: 20px;

}

/* adjusting image for the lessons insertion */
.lessons img{
	position: absolute;
    width: 100px;
    height: auto;
	margin-left: 180px;
	margin-top: 10px;
}

.product{
	margin-left: 15px;
	margin-top:10px;

}

.checkout-img{

    max-width:25px;
}


.customer-checkout{
    height:300px;
    margin: 45px 0px 0px 413px;

}

.order_details{

    margin: 0px 480px 0px 0px;
    text-align: center;
}
.order_input{
    margin: 0 0 0 40px;
}
#btn-submit{
    margin: 0px 0px 0px 0px;
}
.empty-cart {
    width: 650px;
    margin: 40px 0px 0px 240px;
    text-align: center;
  }



/* ------BUTTONS -------------- */
.btn-group{
    margin: 5px 0px 0px 0px !important;
}
.btn{
	margin-left: 180px;
}
.btn-sort{

    border-radius: 10px;
    margin-left: 10px;
    margin-top:5px;
    width:100px;
}
.btn-remove{
border-radius: 10px;
   margin-left:115px; 
}

.btn-checkout{
    position: absolute;
    left:1030px;
    margin-top:10px;
    border-radius: 10px;
    z-index: 10;
    }


/* Carousel arrows */
.carousel-control.right{
	
	right:-50px !important;
	background-image: none !important;

}
.carousel-control.left{

	left:-80px !important;
	background-image: none !important;
}
.wrapper,
.row {
  height: auto;
  width: 1100px;
  margin-top: -18px;
}

.row.checkout{

    margin :20px 0px -20px -10px !important;
}
.carousel-indicators{

	bottom:-10px !important;
}
/* END CAROUSEL */

/* SEARCH BAR  */

.search-box {
    position: absolute;
    top : 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 5px;
    z-index:100;
    margin-top: -5px;
  }
  
  .search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-box:hover > .search-btn{
    background: rgb(10, 82, 216);
    color: rgba(0, 0, 0, 0.753);
    
  }
  
  .search-btn {
    color: #034685;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
  }
  .search-btn > i {
    font-size: 30px;
  
  }
  
  .search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;    
  }

  .fa-search:before{

    margin: -15px 0px 0px -13px !important;
  }