<!DOCTYPE html>

<html>

    <head>
        <title> Lessons Club </title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/moon_walk.css">

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <!-- background  -->
        <div class="moon">
            <div class="crater"></div>
        </div>

        <div class="footprints">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="astronaut">

            <div class="backpack"></div>

            <div class="head">
                <div class="helmet"></div>
            </div>

            <div class="neck"></div>

            <div class="body"></div>

            <div class="arm right">
                <div class="top"></div>
                <div class="bot"></div>
                <div class="hand"></div>
            </div>

            <div class="arm left">
                <div class="top"></div>
                <div class="bot"></div>
                <div class="hand"></div>
            </div>

            <div class="leg right">
                <div class="top"></div>
                <div class="bot"></div>
                <div class="foot"></div>
            </div>

            <div class="leg left">
                <div class="top"></div>
                <div class="bot"></div>
                <div class="foot"></div>
            </div>


        </div>

        <!-- div for the insertion -->
        <div id="app">
            <img class="title" v-bind:src="siteimage">

            <div class="lesson_box">
                <button type="button" class="btn-sort btn-primary" v-on:click="sort_products()" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewbox="0 0 16 16">
                    <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                  </svg> Sort
                </button>
                <div class="container wrapper">
                    <div class="row">
                        <div id="carousel-lessons" class="carousel slide"
                            data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators hidden-xs">
                                <li data-target="#carousel-lessons" data-slide-to="0"
                                    class="active"></li>
                                <li data-target="#carousel-lessons" data-slide-to="1"></li>
                            </ol>

                            <div class="carousel-inner hidden-xs"
                                role="listbox">
                                <div class="item active">
                                    <div class="row">
                                        <div v-bind:lessons="product"class="lessons" v-for="index in 6" :key="index" >
                                            <img v-bind:src="product[index - 1].image">
                                            <h2 class="product product_title" v-text="product[index - 1].title"></h2>
                                            <p class="product product_location">Location: {{product[index - 1].location}}</p>
                                            <p class="product product_price">Price: £{{product[index - 1].price}}</p>
                                            <p class="product product_space" >Spaces: {{product[index - 1].spaces}}</p>
                                            <button type="button" class="btn btn-primary" v-on:click="AddToCart([index -1])" :disabled="!canAddToCart([index-1])">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="row">
                                        <div class="lessons" v-for="index in (product.length - 6)" :key="index" >
                                            <img v-bind:src="product[index + 5].image">
                                            <h2 class="product product_title" v-text="product[index + 5].title"></h2>
                                            <p class="product product_location">Location: {{product[index + 5].location}}</p>
                                            <p class="product product_price">Price: £{{product[index+5].price}}</p>
                                            <p class="product product_space" >Spaces: {{product[index + 5].spaces}}</p>
                                            <button type="button" class="btn btn-primary" v-on:click="AddToCart([index + 5])" :disabled="!canAddToCart([index + 5])">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a href="#carousel-lessons" class="left carousel-control"
                                role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"
                                    aria-hidden="true"></span>
                            </a>
                            <a href="#carousel-lessons" class="right carousel-control"
                                role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"
                                    aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/lessons.js"></script>
        <script src="js/util.js"></script>


    </body>
</html>