/* title */

.title {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    width: 25%;

}

/* box styling */

.lesson_box {
    position: fixed;
    align-self: center;
    width: 1100px;
    height: 630px;
    top: 55%;
    left:45%;
    margin-top: -290px;
    /* this is half the height of your div*/
    margin-left: -450px;
    /*this is half of width of your div*/
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.664);
    z-index: 1000;

}


.lessons{

	display: inline-block;
  width:300px;
  height: 200px;
	margin : 57px 10px 50px 50px;
	border: 5px solid black;
	border-radius: 20px;

}

.lesson_display{

  width:1100px;
  height:550px;
  overflow-y:auto;
  margin: 20px 0px 0px 0px;
}

.No_result{

  font-size:50px;
  margin: 225px 0px 0px 435px;
}
.cart{
	margin : 20px 10px 50px 50px !important;

}
.shopping-list{

    width:1100px;
    height:250px;
    overflow-y:auto;
    margin: 45px 0px 0px -10px;
}
/* adjusting image for the lessons insertion */
.lessons img{
	position:relative;
    width: 100px;
    height: auto;
	margin-left: 180px;
	margin-top: 10px;
}

.product{
	margin-left: 15px;
	margin-top:10px;

}
.lesson-details{

    margin: -110px 0px 0px 0px;
}
.checkout-img{
    max-width:25px;
}

.customer-checkout{
    height:300px;
    margin: 55px -60px 0px 440px;
}

.order_details{

    margin: 0px 480px 0px 0px;
    text-align: center;
}
.order_input{
    border-radius: 5px;
    margin: 0 0 0 40px;        
}

.empty-cart {
    width: 650px;
    margin: 40px 0px 0px 240px;
    text-align: center;
  }

.price{
  position: fixed;
  width: 180px;
  height:50px;
  margin: -35px 0px 0px 480px;
  font-size:25px;
  
}

.descending-sort{
  position: fixed;
  width:100px;
  margin: -20px 0px 0px 230px;
}

.ascending-sort{
  position: fixed;
  width: 100px;
  margin: -20px 0px 0px 125px;
}
/* ------BUTTONS -------------- */
.btn-group{
    margin: 5px 0px 0px 0px !important;
}
.btn{
	margin-left: 180px;
}
.btn-sort{

    border-radius: 10px;
    margin-left: 10px;
    margin-top:5px;
    width:100px;
    z-index:1100;
}
.btn-remove{
   border-radius: 10px;
   margin-left:115px; 
}

.btn-checkout{
    position: absolute;
    left:1030px;
    margin-top:10px;
    border-radius: 10px;
    z-index: 1003;
    }

#btn-submit, #btn-submit2{
        margin: 0px 0px -100px -139px;
}
/* Carousel arrows */
.carousel-control.right{
	
	right:-50px !important;
	background-image: none !important;
  z-index: 900 !important;

}
.carousel-control.left{

	left:-80px !important;
	background-image: none !important;
  z-index: 900 !important;
}
.wrapper,
.row {
  height: 620px;
  width: 1100px;
  margin-top: -10px;
  margin-left: -8px !important;
}

.carousel-indicators{
	bottom:-10px !important;
    margin: 0px 0px 20px -325px !important;
}
/* END CAROUSEL */

/* SEARCH BAR  */

.search-box {
    position: absolute;
    top : 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 50px;
    border-radius: 40px;
    padding: 5px;
    z-index:100;
    margin-top: -5px;
  }
  
  .search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-box:hover > .search-btn{
    background: rgb(10, 82, 216);
    color: rgba(0, 0, 0, 0.753);
    
  }
  
  .search-btn {
    color: #034685;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    
  }
  .search-btn > i {
    font-size: 30px;
  
  }
  
  .search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;    
  }

  .fa-search:before{

    margin: -15px 0px 0px -13px !important;
  }